@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
html,
body {
  @apply bg-sand text-charcoal font-serif;
}

/* Simple marquee animation for the ticker */
@keyframes scroll {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}
